tr:first-child {
    background-color: black;
    color: white;
    border: none;
  }
  
  td, th {
    padding: 10px;
    text-align: start;
  }
  
  table {
    border-collapse: collapse;
  }
  tr{
    transition: all 0.3s ease-in-out;
  }
  tr:nth-child(1){
    text-decoration-color: blue;
  }
  tr:nth-child(odd):not(:first-child){
    background-color: #cccfcd
  }
  tr:not(:first-child):hover {
    background-color: #e6e8e7;
  }
  .Twitter{
    background-color: aqua;
    color: white;
    padding: 4px;
    border-radius: 10px;
    text-decoration: none;
  }
  .YouTube{
    background-color: #cc0000;
    color: white;
    padding: 4px;
    border-radius: 10px;
    text-decoration: none;
  }
  .Twitch{
    background-color:  #6441a5;
    color: white;
    padding: 4px;
    border-radius: 10px;
    text-decoration: none;
  }
.Acessar{
  background-color:  #6441a5;
  color: white;
  padding: 4px;
  border-radius: 10px;
  text-decoration: none;
}
.Acessar2{
  background-color: #cc0000;
  color: white;
  padding: 4px;
  border-radius: 10px;
  text-decoration: none;
}
.Acessar3{
  background-color: aqua;
  color: white;
  padding: 4px;
  border-radius: 10px;
  text-decoration: none;
}
a{
  color:inherit
}